# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/builder/node_modules
/decoder/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/builder/build
/decoder/build

# misc
/builder/.DS_Store
/builder/.env
/builder/.env.local
/builder/.env.development.local
/builder/.env.test.local
/builder/.env.production.local
/decoder/.DS_Store
/decoder/.env
/decoder/.env.local
/decoder/.env.development.local
/decoder/.env.test.local
/decoder/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
