.btn {
    background: #FFFFFF;
/* Solid Colours/Brand/Primary/Primary-400 */

border: 1px solid #A673EF;
/* Black Shadows/Black E1 */

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
border-radius: 3px;

color: #8247E5;
width: 200px;
}