.btn {
  /* background: #FFFFFF; */
  /* Solid Colours/Brand/Primary/Primary-400 */

  /* Black Shadows/Black E1 */

  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08); */
  /* border-radius: 3px; */
  background: #ffffff;
  /* Solid Colours/Brand/Primary/Primary-400 */

  border: 1px solid #a673ef;
  /* Black Shadows/Black E1 */

  color: #8247e5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  /* width: 200px; */
}
.modal-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #100f11;
  text-align: center;
}
.btn-border {
  border-image-slice: 1 !important;
}
.text-class {
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.modal-subheading {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  text-align: center;

  color: rgba(16, 15, 17, 0.5);
  text-align: center;
}
.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* identical to box height, or 133% */

  color: #100f11;
}
.modal-upload {
  height: 250px;
  width: 300px;

  background: #f4f4f4;
  border-radius: 4px;
}
.modal-img {
  display: flex;
  width: 4rem;
  height: auto;
}
.modal-input {
  background: #f4f4f4;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height, or 100% */
  width: 300px;
  height: 2rem;

  /* Gray/200 */

}
.modal-input::placeholder {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.modal-input:focus-visible {
outline: 1px solid rgba(111, 91, 151, 0.28);
box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.04), inset 0px 0px 6px rgba(255, 255, 255, 0.03);
}

.upload-modal-input {
  background: #f4f4f4;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height, or 100% */
  height: 250px;
  width: 300px;
  /* Gray/200 */
}
.upload-modal-input::placeholder {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.upload-modal-input:focus-visible {
outline: 1px solid rgba(111, 91, 151, 0.28);
box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.04), inset 0px 0px 6px rgba(255, 255, 255, 0.03);
}
.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  text-align: center;
  display: flex;
  justify-content: center;
  /* Color/Dark/Dark 2 */

  color: #87898e;
}
.modal-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height, or 100% */

  /* Gray/200 */

  color: #bab9bd;
}
.btn:hover {
  /* Solid Colours/Brand/Primary/Primary-400 */
  border: 1px solid #a673ef;
  /* Black Shadows/Black E1 */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  transition: all 0.3s linear;
}
.btn:active {
  background: #ffffff;
  /* Solid Colours/Brand/Primary/Primary-400 */

  border: 1px solid #a673ef;
  /* State/Primary Focus */

  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #dcd4ff;
}
/* .input {
  background: #FFFFFF;
  Solid Colours/Brand/Gray/Gray-400

  border-color: #e2e4e8;
  border-radius: 3px;
} */

/* .input:focus-visible {
  border: 1px solid #8247e5 !important;
  outline: none;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px #dcd4ff;
} */

.color-span {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.container-drag {
  position: relative;
}

#drag {
  border: 1px solid rgba(75, 67, 121, 0.1);
}
#drag:hover {
  background: #e3d3ff;
  border: 1px solid transparent;
}
#add-img {
  border: 1px solid rgba(75, 67, 121, 0.1);
}
#add-img:hover {
  background: #e3d3ff;
  border: 1px solid transparent;
}
#edit-img {
  border: 1px solid rgba(75, 67, 121, 0.1);
}
#edit-img:hover {
  background: #e3d3ff;
  border: 1px solid transparent;
}
#delete-img {
  border: 1px solid rgba(75, 67, 121, 0.1);
}
#delete-img:hover {
  background: #e3d3ff;
  border: 1px solid transparent;
}
.container-drag #add-img {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 4.9rem;
  opacity: 0;
  transition: opacity 0.2s;
}
.container-drag:hover #add-img {
  visibility: visible;
  opacity: 1;
}
.container-drag #edit-img {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 2.7rem;
  opacity: 0;
  transition: opacity 0.2s;
}
.container-drag #delete-img {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 2.7rem;
  opacity: 0;
  transition: opacity 0.2s;
}
.container-drag:hover #delete-img {
  visibility: visible;
  opacity: 1;
}
.container-drag:hover #edit-img {
  visibility: visible;
  opacity: 1;
}
.container-drag #drag {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.container-drag:hover #drag {
  visibility: visible;
  opacity: 1;
}

/* hide scrollbar */
.example::-webkit-scrollbar {
  display: none;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  visibility: hidden;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  visibility: hidden;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e::after {
  height: 10px;
  width: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
.icon-div {
  transition: 2s;
}
.icon-div:hover .side-icon{
  background: linear-gradient(195.4deg, rgba(208, 230, 255, 0.28) 10.8%, rgba(222, 130, 255, 0.28) 163.89%);
}
.icon-div:hover .side-text{
  color: #100F11;
}
.icon-div:hover .element-svg{
  stroke: #6560E6;
}
.side-icon {
  background: rgba(164, 179, 255, 0.1);
}

.side-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #504f82;
}
.element-div {
  background: linear-gradient(
    93.43deg,
    rgba(70, 143, 228, 0.06) 19.42%,
    rgba(119, 66, 231, 0.06) 63.9%
  );
  border-radius: 8px;
  margin: 1rem 1rem 2.2rem 1rem;
  padding: 2rem 0.3rem;
  justify-items: center;
  display: flex;
  align-items: center;
  align-content: center;
  width: 285px;
}
.setting-text {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  color: #100f11;
}
.align-div {
  background: #e9edfd;
  border-radius: 5px;
}
.align-div:hover {
  background: #b7c1ec;
  border-radius: 5px;
}
.margin-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #100f11;
}
.font-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #000000;

  opacity: 0.6;
  /* identical to box height */
  z-index: 10;
  margin-left: 0.5rem;
  margin-top: 0.6rem;
  position: absolute;
}
.border-hover:hover {
  border: 1px solid;
  border-image-source: linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
  border-image-slice: 1;
}
/* .dashed-border:hover::before {
  content: "";
  position: absolute;
  border: 1px dashed #FF0000;
  top: -0.4px;
  bottom: -0.2px;
  left: -0.4px;
  right: -0.4px;
} */

.newbar {
  background: #fdfdff;
  z-index: 1 !important;
  border-right: 0.75px solid rgba(72, 72, 135, 0.1);
  -webkit-animation-name: slideOut !important;
  animation-name: slideOut !important;
  animation-duration: 0.3s;
}
.newbar::-webkit-scrollbar {
  width: 0 !important;
}
/*
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
} */
.sidebar {
  background: #fdfdff;
  z-index: 1 !important;
  border-right: 0.75px solid rgba(72, 72, 135, 0.1);
  -webkit-animation-name: slidein !important;
  animation-name: slidein !important;
  animation-duration: 0.3s;
  /* transition: 0.8s ease; */
}

.sidebar::-webkit-scrollbar {
  width: 0 !important;
}

.sidenav {
  background: #ffffff;
  z-index: 2 !important;
  border-right: 0.75px solid rgba(72, 72, 135, 0.1);
}
.setting-nav {
  background: #ffffff;
  border-left: 0.75px solid rgba(72, 72, 135, 0.1);
}
.setting-nav::-webkit-scrollbar {
  width: 0 !important;
}
.topnav {
  background: #ffffff;
  border-bottom: 0.75px solid rgba(72, 72, 135, 0.1);
}
.search {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #dee0e9;
  color: rgba(16, 15, 17, 0.5);
}

.search::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;

  color: rgba(16, 15, 17, 0.5);
}
.shadow-div {
  background: #e9edfd;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #000000;
}
.shadow-div:hover {
  background: #b7c1ec;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #000000;
}

.margin-form {
  background: #e9edfd;
  box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.04),
    inset 0px 0px 6px rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(17px);
  /* Note: backdrop-filter has minimal browser support */
  border-color: transparent;
  border-radius: 6px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.margin-form::placeholder {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.margin-form:focus-visible {
outline: 1px solid rgba(111, 91, 151, 0.28);
box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.04), inset 0px 0px 6px rgba(255, 255, 255, 0.03);
}
.margin-subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  display: flex;
  color: #000000;
}
.badge {
  background: linear-gradient(
    195.4deg,
    rgba(134, 190, 255, 0.2) 10.8%,
    rgba(205, 76, 250, 0.2) 163.89%
  );
  border: 0.5px solid #e2e2ea;
  border-radius: 28px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* identical to box height, or 83% */

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #484887;
}
.delete-div {
  background: #e9edfd;
  margin-top: -1rem;
  margin-left: -0.5rem;
  margin-bottom: 1.5rem;
  width: 250px;
  position: inherit;
  z-index: 88888 !important;
  backdrop-filter: saturate(180%) blur(15px);
}
.contract-button {
  background: linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
  border-radius: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* White */
cursor: pointer;
  color: #ffffff;
}
.contract-button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
}
.delete-btn {
  background: rgba(104, 146, 255, 0.29);
  border-radius: 22px;
}
.side-border {
  background: #ffffff;
  border-top: 0.75px solid rgba(72, 72, 135, 0.1);
}
.element-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #666bd3;
}

.element-btn {
  background: #6a58e7;
  color: white;
  padding: 4px 15px;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  transition: 0.2s;
}
.btn-div:hover {
  background: #503dcf;
  outline: 6px solid rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}
.text-four {
  color: rgba(0, 0, 0, 0.5);
}

.element-container {
  border: 1px dashed #7046e4;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  width: 245px;
  height: 65px;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}
.element-container:hover {
  background: rgba(106, 88, 231, 0.1);
  border: 1px dashed #3f2bc9;
  border-radius: 4px;
}
.input-container {
  background: #fcfcfc;
  height: 45px;
  width: 225px;
  padding: 12px 12px;
  border: 1px solid #14142b;
  border-radius: 8px;
  transition: 0.2s;
}
.input-container:hover {
  background: #ffffff;
  border: 1px solid #6a58e7;
  border-radius: 8px;
}
.element-heading-div {
  z-index: 2 !important;
  backdrop-filter: saturate(180%) blur(15px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-animation-name: slideinHeading !important;
  animation-name: slideinHeading !important;
  animation-duration: 0.3s;
}
.element-hide-div {
  z-index: 2 !important;
  backdrop-filter: saturate(180%) blur(15px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-animation-name: slideOutHeading !important;
  animation-name: slideOutHeading !important;
  animation-duration: 0.3s;
}

.element-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  flex-grow: 1;
  min-width: 120px;
}

.element-input-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  /* identical to box height, or 100% */
  /* Grayscale/Label */
  color: #6e7191;
}
.paragraph-container {
  background: #ffffff;
  border-radius: 5px;
  width: 245px;
  height: 100px;
}
.image-container {
  transition: 2s;
}
.image-container:hover {
  border-radius: 5px;
  background-color: rgb(106, 88, 231,0.2);
}
.image-container:hover {
  background: #ffffff;
  border: 2px solid rgba(63, 43, 201, 0.1);
  border-radius: 10px;
}
.heading-element {
transition: 0.3s;
}
.element-upload {
  background: #faf8ff;
  border: 1px dashed #6a58e7;
  border-radius: 5px;
  height: 55px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-text {
  border: 1px solid #dadada;
  border-radius: 6px;
}
.input-text::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(19, 27, 66, 0.502378);
}
.disable-text {
  background: rgba(233, 237, 253, 0.24);
  border-radius: 6px;
  pointer-events: none;
}
.disable-text::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(19, 27, 66, 0.502378);
}
.main-div {
  background-color: #fafaff;
  background-image: radial-gradient(#E0E0EA 1px, transparent 0);
  background-size: 20px 20px;
  /* background-position: -19px -19px; */
}
.main-section {
  background: linear-gradient(
      179.85deg,
      rgba(155, 148, 235, 0.11) 17.13%,
      rgba(0, 0, 0, 0) 99.87%
    ),
    #ffffff;
    outline: 1px solid #f0effc;
  }
.font-div {
  background: #e9edfd;
  box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.04),
    inset 0px 0px 6px rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(17px);
  /* Note: backdrop-filter has minimal browser support */
  border: transparent;
  border-radius: 6px;
  width: 13.5rem;
}
.font-div::placeholder {
  text-align: right;
  justify-content: right;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: black;
}
.link-div {
  position: absolute;
  margin-left: 0.5rem;
  background: #e9edfd;
  border-radius: 4px;
}
.grey-div {
  background: #e9edfd;
  border-radius: 6px;
}
.default-container {
  background: linear-gradient(
    93.43deg,
    rgba(70, 143, 228, 0.02) 19.42%,
    rgba(119, 66, 231, 0.02) 63.9%
  ); /* Purple/100 */
  border: 1px dashed rgba(151, 104, 251, 0.72);
  border-radius: 1px;
  display: flex;
  border-width: 2px;
  align-items: center;
  justify-content: center;
}
.upload-img {
  background: #faf8ff;
  border: 1px dashed #6a58e7;
  border-radius: 5px;
  height: 55px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-input {
  display: none;
}
.contract-list {
  background: #F3F2F3;
  border-radius: 8px;
  width: 210px;
height: 40px;
}
.contract-list:hover {
  background: rgba(92, 111, 230, 0.25);
}
.contract-name {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 24px;
  /* identical to box height, or 218% */

  color: #100F11;
}
.image-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Dark Purple/100 */

  color: #130f1c;
}
.purple-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-decoration-line: underline;

  /* Purple/100 */

  color: #651fff;
}

.upload-btn {
  width: 200px;
  height: 38px;

  /* ew */

  background: linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
  border-radius: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* White */

  color: #ffffff;
}
.contract-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  /* Dark Purple/100 */

  color: #130f1c;
}
.contract-input {
  background: #ffffff;
  border: 2px solid #cbbee7;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Dark Purple/100 */

  color: #130f1c;
}
.tab-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(16, 15, 17, 0.7);
}
.tab-active {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(93.43deg, #9768fb 27.32%, #6892ff 75.6%);
  color: #100f11;
}
.tab {
  backdrop-filter: saturate(180%) blur(15px);
  border-bottom: 1.15px solid rgba(151, 150, 197, 0.31);
  position: fixed;
  z-index: 88888 !important;
  margin-left: -0.5rem;
  margin-top: 1.2rem;
  padding-top: 1rem;
}
.tab-two {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: rgba(16, 15, 17, 0.7);
}
.tab-two:hover {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-bottom: 1.15px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(93.43deg, #9768fb 27.32%, #6892ff 75.6%);
  color: #100f11;
}

#gradient {
  --color-stop-1: #00c3ff;
  --color-stop-2: #77e190;
  --color-stop-3: #ffff1c;
}

.hover-icon{
  stroke: #8484AA;
  stroke-width: 2
}

.hover-icon:hover{
  stroke-width: 2.7px;
  /* stroke: #a673ef; */
  stroke:  rgb(114, 90, 202);
  /* stroke: rgb(82, 143, 233) */
  /* stroke: url({
    --color-stop-1: #00c3ff;
    --color-stop-2: #77e190;
    --color-stop-3: #ffff1c;
  }) transparent; */
}

.modal-line-element{
  background: linear-gradient(#5799EB 0%,#9F74FB 100%);
}

.preview-button{
  background-clip: padding-box;
  background: linear-gradient(93.43deg, #468FE4 19.42%, #7742E7 63.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /* border: 10px solid; */
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 8px;
  border-image-source: linear-gradient(to left, #5799EB, #9F74FB);
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
}

.mint-button{
  background-clip: padding-box;
  background: linear-gradient(93.43deg, #468FE4 19.42%, #7742E7 63.9%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 8px;
  border-image-source: linear-gradient(to left, #5799EB, #9F74FB);
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
}

.link-bg{
  background: linear-gradient(93.43deg, #468FE4 19.42%, #7742E7 63.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  outline: none;
  border: none;
}

.connect-wallet-button{
  background: linear-gradient(93.43deg, #468FE4 19.42%, #7742E7 63.9%);
}

.mint-upload-img{
  background: #FFFFFF;
  border: 2px dashed #7A7B93;
  border-radius: 12px;
  padding: 17px;
}

.upload-img-mint {
  background: rgba(130, 104, 229, 0.06);
  border: 2px dashed #FFFFFF;
  border-radius: 12px;
}

.bg-hr{
  background: rgba(61, 22, 174, 0.04);
}

.bg-lower-template{
  background: rgba(61, 22, 174, 0.04);
}

.shadow-template-box{
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border: 2px dashed #ffffff;
  border-radius: 12px;
}
.connect-wallet-button {
  background: linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
}
.container-div {
  width: 227px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(96, 54, 165, 0.06);
  border-radius: 8px;
}
.container-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #6150c9;
  display: flex;
}

.main-grid {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #ffffff;
    outline: 1px solid rgb(241 239 248) !important;

  /* outline: 1px solid rgba(93, 70, 228, 0.16); */
}

.feather-div {
  background: linear-gradient(
    132.56deg,
    rgba(87, 153, 235, 0.1) 5.63%,
    rgba(159, 116, 251, 0.1) 106.18%
  );
  border-radius: 30px;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  background: linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
  border-radius: 28px;
  padding: 10px 20px;
  color: white;
  transition: all 2s ease !important;
}
.add-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
}
.arrow {
  color: #475385;
}
.arrow:hover {
  color: #000000;
}
.arrow:active {
  color: #000000;
}


.main-grid {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #ffffff;
  outline: 1px solid rgba(93, 70, 228, 0.16);
}

.feather-div {
  background: linear-gradient(
    132.56deg,
    rgba(87, 153, 235, 0.1) 5.63%,
    rgba(159, 116, 251, 0.1) 106.18%
  );
  border-radius: 30px;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  background: linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
  border-radius: 28px;
  padding: 10px 20px;
  color: white;
}
.add-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(93.43deg, #468fe4 19.42%, #7742e7 63.9%);
}
.arrow {
  color: #475385;
}
.arrow:hover {
  color: #000000;
}
.arrow:active {
  color: #000000;
}

.close-btn {
  background: rgba(93, 56, 244, 0.05);
  border-radius: 24px;
  min-width: 1.6rem;
  min-height: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-btn:hover {
  background: rgba(93, 56, 244, 0.15);
}

.margin-grid {
  grid-template-columns: 60px 60px;
  grid-column-gap: 3.5rem;
  grid-row-gap: -1rem;
}

.default-image {
  background: rgba(98, 61, 238, 0.03);
}

.image-div {
  background: linear-gradient(93.43deg, rgba(104, 174, 255, 0.06) 19.42%, rgba(151, 104, 251, 0.06) 63.9%);
}
.default-upload {
  background: rgba(176, 148, 254, 0.04);
  border: 1px dashed #87898E;
}
.image-overlay {
  background: rgba(0, 0, 0, 0.6);
  border: 1px dashed #87898E;
}
.contract-disable-button {
  background: #acacac;
  border-radius: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* White */

  color: #523f3f;
}

#elements:hover {
  stroke: #6560E6;
}
/* .tool {
  transition: 0.5s !important;
} */

.bordered-button{
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background: linear-gradient(to right, #68AEFF 0%, #9768FB 79.17%);
  cursor: pointer;
}

.bordered-button::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 9px;
  background-color: white;
  z-index: -1;
  transition: 200ms
}

.bordered-button::after {
  content: attr(data);
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(to right, #68AEFF 0%, #9768FB 79.17%);
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms
}

.button-singleTemp{
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background: linear-gradient(to right, #68AEFF 0%, #9768FB 79.17%);
  cursor: pointer;
}
.button-singleTemp::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 7px;
  background-color: white;
  z-index: -1;
  transition: 200ms
}
.button-singleTemp::after {
  content: attr(data);
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(to right, #68AEFF 0%, #9768FB 79.17%);
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms
}

.gradient-text{
  background: linear-gradient(to right, #68AEFF 0%, #9768FB 79.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-bg{
  background-color: linear-gradient(132.56deg, rgba(87, 153, 235, 0.12) 5.63%, rgba(159, 116, 251, 0.12) 106.18%);;
  background: linear-gradient(to right, #68AEFF 0%, #9768FB 79.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-bottom-divider{
  border: 1px solid #DFDFE0;
}

.border-top-divider-publish{
  border-top: 1px solid rgba(0, 0, 0, 0.07);;
}
.setting-sidebar {
  transition: 5s !important;
}

@keyframes slidein {
  0% {
    opacity:0;
    width: 100px;
  }
  1% {
    opacity:1;
  }
  100% {
    opacity:1;
    width: 320px;
  }
}
@keyframes slideinHeading {
  0% {
    opacity:0;
    width: 100px;
  }
  1% {
    opacity:1;
  }
  100% {
    opacity:1;
    width: 320px;
  }
}
@keyframes slideOut {
  0% {
    opacity:0;
    width: 320px;
  }
  1% {
    opacity:1;
  }
  100% {
    opacity:1;
    width: 0px;
  }
}
@keyframes slideOutHeading {
  0% {
    opacity:0;
    width: 320px;
  }
  1% {
    opacity:1;
    visibility: hidden;
  }
  100% {
    opacity:1;
    width: 0px;
    visibility: hidden;
  }
}
